<?xml version="1.0"?>
<odoo>

  <!-- APP menu -->
  <menuitem name="twturbiks_starter" id="twturbiks_starter.menu_root" />

  <!-- actions opening views on models -->
  <record model="ir.actions.act_window" id="twturbiks_starter.action_window">
    <field name="name">twturbiks_starter window</field>
    <field name="res_model">twturbiks_starter.twturbiks_starter</field>
    <field name="view_mode">tree,form</field>
  </record>

  <!-- Menu item opening views on models -->
  <!-- 第一種為分兩層的寫法 , Menu1 底下有 List  -->
  <!-- <menuitem name="Menu 1" id="twturbiks_starter.menu_1" parent="twturbiks_starter.menu_root"
    />
    <menuitem name="List" id="twturbiks_starter.menu_1_list" parent="twturbiks_starter.menu_1"
      action="twturbiks_starter.action_window" /> -->
  <menuitem name="open main model" id="open_main_model" action="twturbiks_starter.action_window"
    parent="twturbiks_starter.menu_root" />

  <!-- actions opening form on demo_sheet -->
  <record model="ir.actions.act_window" id="twturbiks_starter.action_window2">
    <field name="name">demo_sheet window</field>
    <field name="res_model">demo.sheet</field>
    <field name="view_mode">tree,form</field>
  </record>

  <!-- Menu item opening form on demo_sheet-->
  <menuitem name="Menu 2" id="twturbiks_starter.menu_2" parent="twturbiks_starter.menu_root"
  />
  <menuitem name="demo_sheet" id="twturbiks_starter.menu_2_form"
    parent="twturbiks_starter.menu_2"
    action="twturbiks_starter.action_window2" />

</odoo>